@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PlaneIndexViewModel

<div class="container-fluid mt-5">
    <div class="card">
        <div class="card-body">
            <h1>Plane List</h1>
            <div class="alert alert-success" id="success-alert" style="display:none">
                <strong>Success! </strong>
            </div>
            <div class="alert alert-danger" id="danger-alert" style="display:none">
                <strong>Error! </strong>
            </div>
            <button class="btn btn-primary" onclick="Plane.AddUpdateModal()">Add New</button>
            <div id="plane-table-container">
                <partial name="_PlaneTable" model="@Model.Planes" />
            </div>
        </div>
    </div>
</div>

<div id="airport-modal-container">
    <partial name="_PlaneAddUpdateModal" />
</div>



@section Scripts {
    <script src="~/js/Plane/PlaneIndex.js"></script>
}